/* DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORE SFONDO */
body {
    background-color:rgba(213, 210, 210, 0.288);
    overflow-x: hidden;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    gap: 10px;
}

/* H1 DENTRO HEADER */
header h1 {
    color: #ad0c0c;
    font-size: 40px;
}

/* P DENTRO HEADER */
header p {
    text-align: center;
}

/* ACCENTRO CONTENUTO */
.container {
	margin: 0 auto;
}

/* GESTICO LE ROW IN MODO CHE VANNO A CAPO */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* MARGINE NEGATICVO ALLE ROW CON G-20 */
.row.g-20 {
	margin: -20px;
}

/* PADDING A TUTTE LE COL DENTRO LE ROW */
.row.g-20 > [class*='col'] {
	padding: 20px;
}

/* TUTTE LE COL CHE DISCENDONO DA ROW */
.row.cols-6 > .col {
	flex-basis: calc(100% / 6);
}

/* STYLE CARD */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: white;
}

/* RECIPIENTE NOME */
.recipe-name {
    margin: 10px 0px;
    text-align: center;
}

/* PROFESSIONE */
.profession {
    font-size: 13px;
}

/* ALL'HOVER SULLA CARD */
.card:hover {
    font-size: 20px;
    border: 1px solid #adff2f;
    cursor: pointer;
}


